/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* universal code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
/* hover */
.hero-button:hover{
    background-color: #161616;
    border: 1px solid #DD0000;
    /* transition: all 0.5s ease-in-out; */
}
/* hero section design start */
.hero-section{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    width: 50%;
    padding: 48px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.hero-headings{
    font-size: 70px;
    color: #ffffff;
}
.hero-para{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
}
.hero-button{
    width: 187px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
}
.hero-button a{
    text-decoration: none;
    color: #FFFFFF;
}
.hero-button i{
    color: #FFFFFF;
    margin-left: 10px;
}
.hero-image{
    width: 50%;
}
.image img{
    width: 581px;
    height: 613px;
    margin-top: 15px;
}
/* hero section design end */

/* hero media query for mobile view start */

@media only screen and (max-width:576px) and (min-width:280px) {

    .hero-section{
        width: 334px;
        height: 472px;
        border-radius: 10px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-text{
        width: 100%;
        padding: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-headings{
        font-size: 22px;
        color: #ffffff;
    }
    .hero-para{
        font-size: 18px;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .hero-button{
        width: 161px;
        height: 40px;
        background-color: #DD0000;
        border-radius: 5px;
        text-align: center;
        padding-top: 10px;
        margin-top: 10px;
        transition: all 0.5s ease-in-out;
    }
    .hero-image{
        width: 80%;
        
    }
    .image img{
        width: 233px;
        height: 245px;
        margin-bottom: 0px;
        margin-left: 15px;
    }
    
}
/* hero media query for mobile view end */